{% extends "layout.html" %}

{% block main %}
    <form action="/password" method="post">
        <div class="mb-3">
            <input name="password" autocomplete="off"  autofocus class="form-control mx-auto w-auto" type="password" placeholder="Current Password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input name="confirmation" type="password" class="form-control mx-auto w-auto" placeholder="Confirm Password">
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}
